<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Kategorie</title>
</head>
<body>

<main layout:fragment="content">
    <ul class="category-block">
        <li th:each="category: ${categories}">
            <a th:with="linkCreator=${T(com.kulinaria.utils.LinkCreator)
                    .createLinkToCategoryRecipes(category.getUrlName())}"

               th:href="@{${linkCreator}}"
               href=""
               class="category-link">
                <img th:src="${category.imageUrl}" alt="kolacja">
                <h2 th:text="${category.name.toUpperCase()}"></h2>
            </a>
        </li>
    </ul>
    <div class="all-categories-div">
        <a th:with="linkCreator=${T(com.kulinaria.utils.LinkCreator)
                    .createLinkToCategoryRecipes('wszystkie')}"
           th:href="@{${linkCreator}}"
           href=""
           class="all-categories-link">
            <img th:src="@{/img/home_background.jpg}" src="/home_background.jpg" alt="kolacja">
            <h2>WSZYSTKIE PRZEPISY</h2>
        </a>
    </div>

</main>
</body>
</html>