<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Stwórz przepis</title>
</head>
<body>

<main layout:fragment="content">
    <form th:action="@{/przepis/dodaj}" action="" method="post">
        <div class="container text-center create-title-cat-fields">
            <div class="row">
                <div class="col-lg">
                    <textarea name="recipeTitle" cols="50" rows="2" placeholder="Podaj tytuł przepisu..." required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <select class="form-select form-select-lg mb-3"
                            aria-label="Large select example"
                            name="categoryFromForm"
                            required>
                        <option selected value="">Wybierz kategorię potrawy</option>
                        <option th:each="catName: ${T(com.kulinaria.category.CategoryEnum).values()}"
                                th:value="${catName}"
                                th:text="${catName.dbName}"
                                value="1">One
                        </option>
                    </select>
                </div>
            </div>
            <div class="row d-flex justify-content-lg-end">
                <div class="col-lg">
                    <button type="submit" class="btn btn-primary">Dodaj nowy przepis do bazy i przejdź do edycji</button>
                </div>
                <div class="col-lg">
                    <a th:href="@{/}" href="" class="btn btn-primary">Rezygnuję</a>
                </div>
            </div>
        </div>
    </form>
</main>

</body>
</html>