<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Potwierdzenie usunięcia</title>
</head>
<body>

<main layout:fragment="content">
    <div class="container general-edition-all-fields-container deletion-confirmation-main-content">
        <div class="container text-center general-edition-all-fields">
            <div class="row general-edition-content-row">
                <div class="col-xl text-center ">
                    <h1>Czy na pewno chcesz usunąć poniższy przepis?</h1>
                </div>
            </div>
            <div class="row general-edition-content-row">
                <div class="col-xl general-edition-ingredients">
                    <div class="deletion-confirmation-title-img">
                        <h2 th:text="${recipe.title}"></h2>
                        <img  th:if="${recipe.imageUrl ne null}"
                              th:src="${recipe.imageUrl}"
                              alt="zdjęcie potrawy"
                              id="image-to-change"
                              class="img-fluid deletion-confirmation-img">
                        <img th:if="${recipe.imageUrl eq null}"
                             th:src="@{/recipes/empty-photo.jpg}"
                             id="empty-image-to-change"
                             class="img-fluid deletion-confirmation-img"
                             alt="pusta grafika">
                    </div>
                </div>
            </div>
            <div class="row general-edition-content-row">
                <div class="col-xl general-edition-ingredients">
                    <form th:action="@{/usun-przepis-z-bazy}"
                          method="post"
                          action=""
                          class="deletion-confirmation-form">

                        <input type="hidden" th:field="${recipe.id}">
                        <input type="hidden" th:field="${recipe.title}">
                        <input type="hidden" th:field="${recipe.category}">

                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary btn-sm w-100">Tak,<br> usuń przepis z bazy</button>
                            </div>
                            <div class="col-md-4">
                                <a th:with="linkCreator=${T(com.kulinaria.utils.LinkCreator).backFromDeletionConfirmationLink()}"
                                   th:href="@{${linkCreator}}"
                                   href="" class="btn btn-primary btn-sm w-100">
                                    Powrót do ogólnego<br> widoku edycji
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a th:with="linkCreator=${T(com.kulinaria.utils.LinkCreator)
                .backToNormalRecipeDetailsViewInDeletionConfirmationLink()}"
                                   th:href="@{${linkCreator}}"
                                   href="" class="btn btn-primary btn-sm w-100">
                                    Powrót do ogólnego widoku przepisu
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>