<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edycja główna</title>
</head>
<body>

<main layout:fragment="content">
    <nav class="nav navbar-light bg-light general-edition-navigation">
        <a class="nav-link btn btn-primary btn-sm"
           href="#"
           th:with="linkCreator=${T(com.kulinaria.utils.LinkCreator)
                                .backFromEditTitleTimeTypeLink()}"
           th:href="@{${linkCreator}}">
            Powrót do ogólnego widoku edycji
        </a>
    </nav>

    <div class="container container-main">
        <form th:action="@{/zapisz-tytul-kategorie-czas-typ}"
              action=""
              method="post"
              th:object="${recipe}"
              class="col-8 mx-auto mb-5 mt-5">
            <input type="hidden" th:field="*{id}">

            <div class="form-group mb-3">
                <label for="descriptionInput">Tytuł przepisu</label>
                <input class="form-control"
                          id="descriptionInput"
                          placeholder="Podaj tytuł przepisu..."
                          th:field="*{title}"
                          required
                          maxlength="100"
                          pattern="[A-Ża-ż ]+"
                          title="Dozwolone znaki to litery duże, małe oraz spacje. Maksymalnie 100 znaków łącznie.">
            </div>
            <div class="form-group mb-4">
                <label for="categorySelect">Kategoria potrawy</label>
                <select class="form-select" id="categorySelect" name="categoryEnum" required th:with="currentCategory=*{category}">
                    <option th:each="catName: ${T(com.kulinaria.category.CategoryEnum).values()}"
                            th:value="${catName}"
                            th:text="${catName.dbName}"
                            th:selected="${currentCategory.name eq catName.dbName}"
                            value="1">One
                    </option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="mealType">Typ dania</label>
                <select class="form-select" id="mealType" th:field="*{mealType}" required th:with="currentMealType=*{mealType}">
                    <option th:each="type: ${T(com.kulinaria.shared.MealType).values()}"
                            th:value="${type}"
                            th:text="${type.translation}"
                            th:selected="${currentMealType eq type}"
                            value="1">One
                    </option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="preparationTime">Czas przygotowania (w minutach)</label>
                <input class="form-control"
                       id="preparationTime"
                       placeholder="Podaj czas przygotowania..."
                       th:field="*{prepTime}"
                       required
                       min="0"
                       max="400"
                       step="1">
            </div>
            <div class="form-group mb-4 text-center">
                <button class="btn btn-primary" type="submit">Zapisz</button>
            </div>
        </form>
    </div>

</main>

</body>
</html>