<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edycja opisu</title>
</head>
<body>

<main layout:fragment="content">

    <nav class="nav general-edition-navigation">
        <a class="nav-link btn btn-primary btn-sm"
           href="#"
           th:with="linkCreator=${T(com.kulinaria.utils.LinkCreator)
                                .backFromEditStepsLink()}"
           th:href="@{${linkCreator}}">
            Powrót do ogólnego widoku edycji
        </a>
    </nav>

    <h2 class="edit-steps-header">Sposób przygotowania potrawy</h2>

    <div th:object="${recipe}">
        <form th:action="@{/zapisz-sposob-przygotowania}"
              method="post"
              action="">
            <input type="hidden" th:field="*{id}">

            <div class="container edit-steps-main-container">
                <div class="container edit-steps-row"
                     th:each="step, iStat: *{preparationSteps}">
                    <div class="row ">
                        <div class="col">
                            <h4 th:text="|Krok ${iStat.count}:|" style="display: inline"></h4>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-primary btn-sm step-delete-btn"
                                    name="deleteStepId"
                                    th:value="${step.id}">
                                Usuń krok
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <textarea th:field="*{preparationSteps[__${iStat.index}__].preparationStep}"
                                      cols="30" rows="10"
                                      placeholder="Podaj opis kroku..."
                                      class="edit-steps-textarea">
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="container ingredients-edition-container">
                    <div class="row steps-edition-plus-icon-row">
                        <div class="col-lg">
                            <button type="submit" name="addStep" value="true" class="steps-edition-add-ingredient-btn">
                                <i class="bi bi-plus-square plus-icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg text-center">
                            <button type="submit" class="btn btn-primary">Zapisz wszystkie kroki w bazie</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</main>

</body>
</html>