<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Strona główna</title>
</head>
<body>

<main layout:fragment="content">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <a th:href="@{/kategorie}" href="/kategorie" class="show-all-categories">Zobacz wszystkie dostępne przepisy</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h1 class="mt-4 text-secondary">NAJPOPULARNIEJSZE PRZEPISY</h1>
            </div>
        </div>

        <div class="w-75 text-center mx-auto">
            <a th:each="recipe: ${top4Recipes}"
               th:with="linkCreator=${T(com.kulinaria.utils.LinkCreator)
                        .createTop4HomeLink(recipe.category.name, recipe.title, recipe.id)}"
               th:href="@{${linkCreator}}">

                <div class="row text-center d-flex align-items-center mb-5 text-secondary top4-recipe rounded">
                    <div class="col-md-6">
                        <div class="row">
                            <h2 th:text="|${recipe.title}|"></h2>
                        </div>
                        <div class="row">
                            <p th:text="|Liczba głosów: ${recipe.vote.result}|"></p>
                        </div>
                    </div>
                    <div class="col-md-6 h-50">
                        <img th:src="@{${recipe.imageUrl}}" th:alt="|recipe${recipe.id}|" class="img-fluid rounded w-75">
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>

</body>
</html>